/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url('../images/bgtile.png');
  background-repeat: repeat-x;
  width: 100%;
}


/* LEFT COLUMN CONTENT STARTS */

.left-column {
	float: left;
    width: 75%;
	margin: 0px;
	margin: 50px;
}


/* LEFT COLUMN CONTENT ENDS */


/* RIGHT COLUMN CONTENT STARTS */


.right-column {
	float: right;
	width: 75%;
	margin: 0px;
	position: relative;
	left: 150px;
	bottom: 550px
}

.login {
float: right;
position: relative;
width: 25%;
right: 150px;
top: 25px;
}

.ig-login {
	height: 35px;
	background: linear-gradient(#7d9eb8, #4b7699);
	border: solid 1px #1c5380;
}

span {
	font-weight: bold;
	color: white;
	text-shadow: 1px #d8d8d8;
	padding: 5px;
}

.ig-logo {
	float: left;
	padding-right: 20px;
}



.ig-login-home {
	vertical-align: middle;
}

.copy-bg {
	background-image: url('../images/frame.png');
	height: 600px;
    background-repeat: no-repeat;
}

.right-col-copy {
	color: #06365f;
}

.right-col-copy {
	clear: both;
	position: relative;
	bottom: 600px;
	left: 40px;
	top: -600px;
}

p {
	width: 400px;
}

.download-icons {

}

/* RIGHT COLUMN CONTENT ENDS */

/* FOOTER STARTS */

.footer {
	clear: both;
	position: relative;
	top: -1000px;
}

.footer-menu {
	list-style-type: none;
	text-align: center;
}

.footer-menu > li {
	text-indent: 5px;
	display: inline-block;
	font-size: 15px;
	color: #1c5380;
	font-weight: bold;

}

li.legal {
	text-indent: 5px;
	display: inline-block;
	font-size: 15px;
	color: grey;
}

/* FOOTER ENDS */